# Python
pycache/
*.pyc
*.pyo

# Virtual env
venv/

# Env files
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
.coveragerc

# OS
.DS_Store

# VS Code
.vscode/

# Docker
*.log

# ML models
*.pt


#Video Clips
clips/
*.mp4
